.Banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../public/img/banner.png);
  background-position: center;
  width: calc(100% - 200px);
  height: 220px;
  border-radius: 25px;
  margin: 40px;
}
.Banner-container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../public/img/banner-about.png);
  background-position: center;
  width: calc(100% - 200px);
  height: 220px;
  border-radius: 25px;
  margin: 40px;
}

.Banner-txt {
  font-size: 48px;
  color: white;
  margin: 0 16px;
}

@media screen and (max-width: 900px) {
  .Banner-txt {
    font-size: 24px;
  }
  .Banner-container {
    width: calc(100% - 40px);
    background-position-y: -110px;
    height: 111px;
    margin: 20px;
  }

  .Banner-container-about {
    width: calc(100% - 40px);
  }
}
