.menu-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin-bottom: 31px;
}

.header-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  color: white;
  background-color: $color-1;
  font-size: 24px;
  border-radius: 5px;
}
.title-menu {
  margin-left: 18px;
}
.Collapse-Btn {
  margin-right: 17px;
  rotate: 180deg;
}

button {
  background: transparent;
  border: 0;
}

.text-menu {
  background-color: #f7f7f7;
  font-size: 24px;
  padding: 18px 36px 18px 19px;
  word-wrap: break-word;
  color: $color-1;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .header-menu-container {
    font-size: 18px;
  }
  .text-menu {
    font-size: 12px;
  }
}
